{% extends "base.html" %}

{% block title %}关于我 - 我的博客{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>关于我</h1>
        
        <div class="mt-4">
            <p>欢迎来到我的个人博客！</p>
            
            <p>我是一名热爱技术的开发者，专注于分享编程知识、技术经验和生活感悟。</p>
            
            <p>在这个博客中，您可以找到：</p>
            <ul>
                <li>Python编程技巧</li>
                <li>Web开发经验</li>
                <li>数据库技术</li>
                <li>个人项目分享</li>
                <li>学习心得和思考</li>
            </ul>
            
            <p>如果您有任何问题或建议，欢迎通过评论或邮件与我联系。</p>
        </div>
    </div>
    
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                联系方式
            </div>
            <div class="card-body">
                <p>邮箱: example@email.com</p>
                <p>GitHub: github.com/username</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}